*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.sidebar{
    display: flex;
    gap: 5px;
}
.left-sidebar{
    width: 30vw;
    color: white;
    margin-right: 5px;
}
.home{
    width: 100%;
}
.home > ul li{
    width: 100px;
}

.svg{
    width: 20px;
}
ul{
    list-style: none;
}
.box{
    background-color: #2b2929;
}
.library{
    width: 100%;
    height: 73vh;
    position: relative;
}
.library  button{
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 28px;
    border: 2px solid #fff;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}
.right-sidebar{
    width: 70vw;
    color: white;
}
.rNavbar{
    background-color: #2b2929;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rNavbar >*{
    padding: 10px;
}