*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.sidebar{
    display: flex;
    gap: 5px;
}
.left-sidebar{
    width: 30vw;
    color: white;
}

.home > ul li{
    width: 100px;
}
.right-sidebar{
    width: 70vw;
    color: white;
}
.svg{
    width: 20px;
}
ul{
    list-style: none;
}