.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.border{
    border: 2px solid #121212;
    margin: 5px;
}
.gap-1{
    gap: 5px;
}
.gap-2{
    gap: 10px;
}
.rounded-6{
    border-radius: 30px;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.mb-1{
    margin-bottom: 5px;
}
.mb-2{
    margin-bottom: 10px;
}
.p-2{
    padding: 10px;
}
.p-4{
    padding: 20px;
}
.p-5{
    padding: 25px;
}
.m-2{
    margin: 10px;
}
.my-2{
    margin: 10px 0;
}
.my-3{
    margin: 15px 0;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.bg-gray{
    background-color: #121212;
}
.bg-white{
    background-color: #fff;
}
.invert{
    filter: invert(1);
}
a{
    color: white;
    text-decoration: none;
}